{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar_right sticky">

    <a href="http://www.lse.ac.uk" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/LSE_Logo.svg
        " alt="LSE">
        </a>
 
  <a href="https://erc.europa.eu/" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/European_Research_Council_logo.svg/1200px-European_Research_Council_logo.svg.png" alt="ERC">
  </a>
<!-- 
  <a href="http://www.lse.ac.uk/IPCO-2020" target="_blank">
    <img src="http://www.lse.ac.uk/ipco-2020/assets/images/IPCO-Poster-Final.jpg" alt="IPCO">
  </a> -->

  </div>
  
{% endif %}